
#selectorPaginas{
    margin: 5px;
}
.paginas{
    margin: 5px;
}
.actual{
    font-weight: bold;
    color: green; 
}
/* Estilos para las filas de la tabla */
.table-row {
    position: relative;
}

/* Estilos para la celda del botón */
.button-cell {
    position: absolute;
    right: 3000;
    top: 0;
    bottom: 0;
    display: none;
    border: white;
}

/* Mostrar la celda del botón al pasar el ratón sobre la fila */
.table-row:hover .button-cell {
    display: block;
}
.delete-button{
    margin-top: -15px;
    top: 10px;
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
}
.error {
    font-size: 80%;
    color: red;
}

.exito {
    font-size: 80%;
    color: green;
}

.back-button{
    margin: 10px;
    height: 40px;
    width: 40px;
}

/* Reset de estilos */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f9f4; /* Verde claro */
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

h1, h2 {
    color: #4CAF50; /* Verde más oscuro */
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Estilos de los enlaces */
a {
    text-decoration: none;
    color: #007BFF;
}

/* Estilos de los botones */
.delete-button, .back-button {
    width: 20px;
    height: 20px;
    margin-left: 10px; /* Espacio entre botones */
}

/* Estilos del formulario */
#nuevaTarea, #enviarCorreos, #formularioDetalle {
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Prioridades en línea */
input[type="radio"] {
    margin-right: 5px;
}

/* Estilos de errores y éxitos */
.error {
    font-size: 80%;
    color: red;
}

.exito {
    font-size: 80%;
    color: #4CAF50;
}

/* Paginación */
#selectorPaginas {
    margin-top: 20px;
}

.paginas {
    margin-right: 5px;
}

.actual {
    font-weight: bold;
    color: #4CAF50;
}

/* Estilos para la celda del botón */
.button-cell {
    display: flex;
    align-items: center;
}

/* Estilos del botón de borrar */
.delete-button {
    height: 20px;
    width: 20px;
    margin-left: 10px; /* Espacio entre el texto y el botón de borrar */
}

/* Mostrar la celda del botón al pasar el ratón sobre la fila */
.table-row:hover .button-cell {
    display: flex;
}

